.company-main{
    padding-top: 80px;
    padding-bottom: 165px;
.company-content{

    margin-left: 0px;
    padding-left: 200px;
    padding-right: 0;


}

}

case-main.container-main{

    margin-left: 0;
    padding-left: 200px;

}

.company-banner {
    background-image: url("../img/company-banner.jpg");
    background-position: inherit;
    max-width: 100%;
    height: 370px;
    background-size: cover;
    position: relative;
    background-position-x: center;
    .sub-banner {
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translateY(-50%);

    }
}

h2{
        font-weight: bold;
        color: #717d4b;
        text-align: center;
        padding-bottom: 40px;
}

.table-top {
    margin-bottom: 80px;
    table, tr,td{
        border: 1px solid #666666;
    }
    .txt-midle{
        vertical-align: middle;
    }
    .color-td-2-padding{
        padding-left: 30px;
    }
    td {
        color: #666666;
    }
    tr, td {
        padding: 15px 0;
        li {
            padding-top: 10px;
        }

    }

    .color-td-1 {
        background-color: #dae0c7;
        color: #919b74;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .color-td-2 {
        background-color: #fbfbf9;
    }
}



.table-bottom{
    background-color: #f7f6f2;
    line-height: initial;

    table, tr,td {
        border: none;
        color: #666666;
    }
    .color-td-1-border{
        border-right: 1px solid #717d4b;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        position: relative;
    }
    td.color-td-1-border:after{
        content: "";
        width: 5px;
        height: 5px;
        background-color: #717d4b;
        display: block;
        border-radius: 50%;
        position: absolute;
        right: -2.5px;
        transform: translateY(-50%);
        top: 50%;
    }
    .td-2-padding{
        padding-left: 30px;
    }
    tr,td{
        padding: 15px 0;
    }

}

.dot-li {
    display: flex;
    margin-right: 0;
    justify-content: center;
    color: #666666;
    li{
        margin-right: 60px;
    }
    li::before{
        content: "•";
        color: #717d4b;
    }
}

.txt-color{
    color: #666666;
    padding-left: 30px;
    padding-bottom: 10px;
}



