@charset "UTF-8";
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
------------------------------------------------------------- */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.bottom-10 {
  margin-bottom: 10px; }

.bottom-11 {
  margin-bottom: 11px; }

.bottom-12 {
  margin-bottom: 12px; }

.bottom-13 {
  margin-bottom: 13px; }

.bottom-14 {
  margin-bottom: 14px; }

.bottom-15 {
  margin-bottom: 15px; }

.bottom-16 {
  margin-bottom: 16px; }

.bottom-17 {
  margin-bottom: 17px; }

.bottom-18 {
  margin-bottom: 18px; }

.bottom-19 {
  margin-bottom: 19px; }

.bottom-20 {
  margin-bottom: 20px; }

.bottom-21 {
  margin-bottom: 21px; }

.bottom-22 {
  margin-bottom: 22px; }

.bottom-23 {
  margin-bottom: 23px; }

.bottom-24 {
  margin-bottom: 24px; }

.bottom-25 {
  margin-bottom: 25px; }

.bottom-26 {
  margin-bottom: 26px; }

.bottom-27 {
  margin-bottom: 27px; }

.bottom-28 {
  margin-bottom: 28px; }

.bottom-29 {
  margin-bottom: 29px; }

.bottom-30 {
  margin-bottom: 30px; }

.bottom-31 {
  margin-bottom: 31px; }

.bottom-32 {
  margin-bottom: 32px; }

.bottom-33 {
  margin-bottom: 33px; }

.bottom-34 {
  margin-bottom: 34px; }

.bottom-35 {
  margin-bottom: 35px; }

.bottom-36 {
  margin-bottom: 36px; }

.bottom-37 {
  margin-bottom: 37px; }

.bottom-38 {
  margin-bottom: 38px; }

.bottom-39 {
  margin-bottom: 39px; }

.bottom-40 {
  margin-bottom: 40px; }

.bottom-41 {
  margin-bottom: 41px; }

.bottom-42 {
  margin-bottom: 42px; }

.bottom-43 {
  margin-bottom: 43px; }

.bottom-44 {
  margin-bottom: 44px; }

.bottom-45 {
  margin-bottom: 45px; }

.bottom-46 {
  margin-bottom: 46px; }

.bottom-47 {
  margin-bottom: 47px; }

.bottom-48 {
  margin-bottom: 48px; }

.bottom-49 {
  margin-bottom: 49px; }

.bottom-50 {
  margin-bottom: 50px; }

.bottom-51 {
  margin-bottom: 51px; }

.bottom-52 {
  margin-bottom: 52px; }

.bottom-53 {
  margin-bottom: 53px; }

.bottom-54 {
  margin-bottom: 54px; }

.bottom-55 {
  margin-bottom: 55px; }

.bottom-56 {
  margin-bottom: 56px; }

.bottom-57 {
  margin-bottom: 57px; }

.bottom-58 {
  margin-bottom: 58px; }

.bottom-59 {
  margin-bottom: 59px; }

.bottom-60 {
  margin-bottom: 60px; }

.bottom-61 {
  margin-bottom: 61px; }

.bottom-62 {
  margin-bottom: 62px; }

.bottom-63 {
  margin-bottom: 63px; }

.bottom-64 {
  margin-bottom: 64px; }

.bottom-65 {
  margin-bottom: 65px; }

.bottom-66 {
  margin-bottom: 66px; }

.bottom-67 {
  margin-bottom: 67px; }

.bottom-68 {
  margin-bottom: 68px; }

.bottom-69 {
  margin-bottom: 69px; }

.bottom-70 {
  margin-bottom: 70px; }

.bottom-71 {
  margin-bottom: 71px; }

.bottom-72 {
  margin-bottom: 72px; }

.bottom-73 {
  margin-bottom: 73px; }

.bottom-74 {
  margin-bottom: 74px; }

.bottom-75 {
  margin-bottom: 75px; }

.bottom-76 {
  margin-bottom: 76px; }

.bottom-77 {
  margin-bottom: 77px; }

.bottom-78 {
  margin-bottom: 78px; }

.bottom-79 {
  margin-bottom: 79px; }

.bottom-80 {
  margin-bottom: 80px; }

.bottom-81 {
  margin-bottom: 81px; }

.bottom-82 {
  margin-bottom: 82px; }

.bottom-83 {
  margin-bottom: 83px; }

.bottom-84 {
  margin-bottom: 84px; }

.bottom-85 {
  margin-bottom: 85px; }

.bottom-86 {
  margin-bottom: 86px; }

.bottom-87 {
  margin-bottom: 87px; }

.bottom-88 {
  margin-bottom: 88px; }

.bottom-89 {
  margin-bottom: 89px; }

.bottom-90 {
  margin-bottom: 90px; }

.bottom-91 {
  margin-bottom: 91px; }

.bottom-92 {
  margin-bottom: 92px; }

.bottom-93 {
  margin-bottom: 93px; }

.bottom-94 {
  margin-bottom: 94px; }

.bottom-95 {
  margin-bottom: 95px; }

.bottom-96 {
  margin-bottom: 96px; }

.bottom-97 {
  margin-bottom: 97px; }

.bottom-98 {
  margin-bottom: 98px; }

.bottom-99 {
  margin-bottom: 99px; }

.bottom-100 {
  margin-bottom: 100px; }

.top-10 {
  margin-top: 10px; }

.top-11 {
  margin-top: 11px; }

.top-12 {
  margin-top: 12px; }

.top-13 {
  margin-top: 13px; }

.top-14 {
  margin-top: 14px; }

.top-15 {
  margin-top: 15px; }

.top-16 {
  margin-top: 16px; }

.top-17 {
  margin-top: 17px; }

.top-18 {
  margin-top: 18px; }

.top-19 {
  margin-top: 19px; }

.top-20 {
  margin-top: 20px; }

.top-21 {
  margin-top: 21px; }

.top-22 {
  margin-top: 22px; }

.top-23 {
  margin-top: 23px; }

.top-24 {
  margin-top: 24px; }

.top-25 {
  margin-top: 25px; }

.top-26 {
  margin-top: 26px; }

.top-27 {
  margin-top: 27px; }

.top-28 {
  margin-top: 28px; }

.top-29 {
  margin-top: 29px; }

.top-30 {
  margin-top: 30px; }

.top-31 {
  margin-top: 31px; }

.top-32 {
  margin-top: 32px; }

.top-33 {
  margin-top: 33px; }

.top-34 {
  margin-top: 34px; }

.top-35 {
  margin-top: 35px; }

.top-36 {
  margin-top: 36px; }

.top-37 {
  margin-top: 37px; }

.top-38 {
  margin-top: 38px; }

.top-39 {
  margin-top: 39px; }

.top-40 {
  margin-top: 40px; }

.top-41 {
  margin-top: 41px; }

.top-42 {
  margin-top: 42px; }

.top-43 {
  margin-top: 43px; }

.top-44 {
  margin-top: 44px; }

.top-45 {
  margin-top: 45px; }

.top-46 {
  margin-top: 46px; }

.top-47 {
  margin-top: 47px; }

.top-48 {
  margin-top: 48px; }

.top-49 {
  margin-top: 49px; }

.top-50 {
  margin-top: 50px; }

.top-51 {
  margin-top: 51px; }

.top-52 {
  margin-top: 52px; }

.top-53 {
  margin-top: 53px; }

.top-54 {
  margin-top: 54px; }

.top-55 {
  margin-top: 55px; }

.top-56 {
  margin-top: 56px; }

.top-57 {
  margin-top: 57px; }

.top-58 {
  margin-top: 58px; }

.top-59 {
  margin-top: 59px; }

.top-60 {
  margin-top: 60px; }

.top-61 {
  margin-top: 61px; }

.top-62 {
  margin-top: 62px; }

.top-63 {
  margin-top: 63px; }

.top-64 {
  margin-top: 64px; }

.top-65 {
  margin-top: 65px; }

.top-66 {
  margin-top: 66px; }

.top-67 {
  margin-top: 67px; }

.top-68 {
  margin-top: 68px; }

.top-69 {
  margin-top: 69px; }

.top-70 {
  margin-top: 70px; }

.top-71 {
  margin-top: 71px; }

.top-72 {
  margin-top: 72px; }

.top-73 {
  margin-top: 73px; }

.top-74 {
  margin-top: 74px; }

.top-75 {
  margin-top: 75px; }

.top-76 {
  margin-top: 76px; }

.top-77 {
  margin-top: 77px; }

.top-78 {
  margin-top: 78px; }

.top-79 {
  margin-top: 79px; }

.top-80 {
  margin-top: 80px; }

.top-81 {
  margin-top: 81px; }

.top-82 {
  margin-top: 82px; }

.top-83 {
  margin-top: 83px; }

.top-84 {
  margin-top: 84px; }

.top-85 {
  margin-top: 85px; }

.top-86 {
  margin-top: 86px; }

.top-87 {
  margin-top: 87px; }

.top-88 {
  margin-top: 88px; }

.top-89 {
  margin-top: 89px; }

.top-90 {
  margin-top: 90px; }

.top-91 {
  margin-top: 91px; }

.top-92 {
  margin-top: 92px; }

.top-93 {
  margin-top: 93px; }

.top-94 {
  margin-top: 94px; }

.top-95 {
  margin-top: 95px; }

.top-96 {
  margin-top: 96px; }

.top-97 {
  margin-top: 97px; }

.top-98 {
  margin-top: 98px; }

.top-99 {
  margin-top: 99px; }

.top-100 {
  margin-top: 100px; }

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

.fa-reddit-alien:before {
  content: ""; }

.fa-edge:before {
  content: ""; }

.fa-credit-card-alt:before {
  content: ""; }

.fa-codiepie:before {
  content: ""; }

.fa-modx:before {
  content: ""; }

.fa-fort-awesome:before {
  content: ""; }

.fa-usb:before {
  content: ""; }

.fa-product-hunt:before {
  content: ""; }

.fa-mixcloud:before {
  content: ""; }

.fa-scribd:before {
  content: ""; }

.fa-pause-circle:before {
  content: ""; }

.fa-pause-circle-o:before {
  content: ""; }

.fa-stop-circle:before {
  content: ""; }

.fa-stop-circle-o:before {
  content: ""; }

.fa-shopping-bag:before {
  content: ""; }

.fa-shopping-basket:before {
  content: ""; }

.fa-hashtag:before {
  content: ""; }

.fa-bluetooth:before {
  content: ""; }

.fa-bluetooth-b:before {
  content: ""; }

.fa-percent:before {
  content: ""; }

.header-logo {
  border-right: 2px solid;
  float: left;
  margin-bottom: 30px;
  margin-top: 11px; }

.header-gr {
  display: inline-flex;
  line-height: 26px;
  position: absolute;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%); }

#header-txt {
  height: 70px; }

.header-top {
  background-color: #cfd0d7; }

header img {
  margin-right: 20px; }
header span {
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  display: flex; }
header li:hover {
  border-top-style: solid;
  border-color: #32b0ee;
  background-color: transparent;
  border-width: 2px; }
header span {
  color: #ffffff; }
header li {
  color: #ffffff; }

.header-container {
  position: relative; }
  .header-container .navigation {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: rgba(16, 22, 54, 0.2); }

@media only screen and (max-width: 320px) {
  .header-logo img {
    width: 80%; }

  .header-txt-size {
    font-size: 25px; }

  h2 {
    font-size: 20px; }

  h4 {
    font-size: 16px; }

  #header-txt {
    width: 100px !important;
    padding-left: 5px; } }
@media only screen and (min-width: 321px) and (max-width: 375px) {
  h2 {
    font-size: 20px; }

  h4 {
    font-size: 16px; }

  .header-txt-size {
    font-size: 25px; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  h2 {
    font-size: 20px; }

  h4 {
    font-size: 16px; }

  .header-txt-size {
    font-size: 25px; } }
.txt-slider {
  display: inline-flex; }

.hr-txt {
  display: inline-flex;
  position: relative; }

.txt-color {
  color: #00a849; }

.carousel-caption {
  margin-bottom: 130px; }

.slider-icon img {
  opacity: 0.5; }
.slider-icon img:hover {
  opacity: 1; }

.footer {
  background: #1ea78d;
  padding: 100px 0; }

.txt-footer h4, .txt-footer p {
  color: white; }
.txt-footer input {
  background: none;
  border: 1px solid #fff;
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  border-radius: 3px;
  padding: 5px 0; }
.txt-footer h1 {
  margin-top: 0; }
.txt-footer a {
  color: white;
  text-decoration: none; }
.txt-footer h4 {
  margin-bottom: 30px; }
.txt-footer img {
  margin-bottom: 20px; }
.txt-footer a {
  line-height: 2.5; }

#changecolor {
  color: black; }

.created {
  color: white;
  padding-top: 60px; }

.copyright {
  color: black;
  padding-top: 35px; }

.subcribe {
  position: relative; }
  .subcribe img {
    position: absolute;
    right: 5%;
    top: 20%;
    margin: 0; }

@media only screen and (max-width: 320px) {
  .copyright {
    text-align: center; }

  .created-center {
    text-align: center;
    padding-top: 100px; }

  .subcribe {
    width: 70%; }

  .txt-footer-left {
    padding-left: 0;
    left: -15px; }

  .container .created {
    padding-left: 0; }

  .txt-fontsize {
    margin-top: 0px; } }
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .copyright {
    text-align: center; }

  .created-center {
    text-align: center;
    padding-top: 100px; }

  .subcribe {
    width: 70%; }

  .txt-footer-left {
    padding-left: 0;
    left: -15px; }

  .container .created {
    padding-left: 0; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .copyright {
    text-align: center; }

  .created-center {
    text-align: center;
    padding-top: 100px; }

  .subcribe {
    width: 70%; }

  .txt-footer-left {
    padding-left: 0;
    left: -15px; }

  .container .created {
    padding-left: 0; } }
@media only screen and (min-width: 641px) and (max-width: 767px) {
  .created-center {
    padding-top: 0; }

  .copyright {
    padding-top: 0; } }
.features {
  background-color: #f4f7f9;
  padding-bottom: 140px; }

.features-content-img {
  float: left;
  padding-right: 10px; }

.features-content {
  overflow: hidden; }

.all-header {
  margin-bottom: 0;
  padding-top: 0; }
  .all-header h2 {
    color: #0eb493;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px; }

.header-content-img img {
  margin-right: 14px; }

.all-header-hr hr {
  width: 100px; }

.all-header-hr-img {
  justify-content: center;
  display: flex;
  margin-bottom: 45px; }

.all-header-img {
  margin: 10px; }

.features-carousel {
  position: relative; }

.features-carousel-indicators {
  position: absolute;
  width: auto;
  transform: rotate(0); }
  .features-carousel-indicators li {
    background-color: black; }

.navbar-nav {
  -webkit-display: flex;
  -khtml-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex; }

.nav li {
  border-top: solid 2px transparent; }
  .nav li:hover {
    border-top-color: #0eb493;
    background-color: transparent; }
  .nav li a {
    color: white; }
    .nav li a:hover {
      background-color: transparent; }

.navigation {
  height: 70px; }

.header-container .nav-size {
  padding-top: 0;
  height: 70px; }

.nav-size li a {
  padding: 0 15px;
  top: 30%; }

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 {
  padding-top: 0px;
  height: 19px;
  margin-top: 30px; }

#nav-icon1 span:nth-child(1) {
  top: 0px;
  width: 30px;
  height: 2px; }

#nav-icon1 span:nth-child(2) {
  top: 4px;
  width: 30px;
  height: 2px; }

#nav-icon1 span:nth-child(3) {
  bottom: 0;
  width: 30px;
  height: 2px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

@media only screen and (max-width: 320px) {
  .nav li {
    border-top: none; }
    .nav li:hover {
      border-top-color: transparent;
      background-color: transparent; }
    .nav li a {
      color: white; }
      .nav li a:hover {
        background-color: transparent; } }
.navbar-inverse {
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(270deg, transparent 0%, transparent 100%);
  background-image: linear-gradient(180deg, transparent 0%, transparent 100%); }

.navbar-header {
  display: flex;
  align-content: center; }

.navbar-toggle {
  background-color: transparent; }

@media only screen and (max-width: 320px) {
  .navbar-header {
    display: block; }
    .navbar-header .navbar-toggle {
      margin-top: 20px;
      padding: 10px 5px; }

  .header-container .nav-size {
    height: 100%;
    width: 28%; }

  body {
    font-size: 12px; }

  .navbar-xs {
    flex-direction: column;
    width: 100%; }

  .navbar-toggle {
    background-color: transparent;
    font-size: 5px;
    padding: 0;
    margin: 0;
    border: 0;
    padding-right: 15px; }

  .header-container .nav-size {
    height: 100%; } }
#nav-icon1 {
  padding-top: 0px;
  height: 19px;
  margin-top: 30px;
  border: none;
  background-color: transparent; }

@media only screen and (min-width: 321px) and (max-width: 375px) {
  #myNavbar {
    margin: 0 -30px; }

  .navbar-header {
    display: block; }
    .navbar-header .navbar-toggle {
      margin-top: 20px;
      padding: 10px 5px; }

  .nav-size {
    height: 100%;
    width: 18% !important; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  #myNavbar {
    margin: 0 -30px; }

  .navbar-header {
    display: block; }
    .navbar-header .navbar-toggle {
      margin-top: 20px;
      padding: 10px 5px; }

  .header-container .nav-size {
    height: 100%;
    width: 25%; }

  .header-container .nav-size {
    height: 100%; } }
@media only screen and (min-width: 641px) and (max-width: 767px) {
  #myNavbar {
    margin: 0 -30px;
    flex-direction: column; }

  .navbar-header {
    display: block; }
    .navbar-header .navbar-toggle {
      margin-top: 20px;
      padding: 10px 5px; }

  .header-container .nav-size {
    height: 100%;
    width: 28%; }

  .header-container .nav-size {
    height: 100%; } }
.carousel-caption.h1 {
  margin-top: 0; }

.txt-slider {
  display: inline-flex; }

.hr-txt {
  display: inline-flex;
  position: relative; }

.txt {
  padding: 10px 30px; }

hr {
  color: #0feb9e;
  background-color: #0feb9e;
  height: 1px; }

.txt-color {
  color: #00a849; }

.slider-icon {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 5s; }
  .slider-icon a {
    text-decoration: none; }

.carousel-caption {
  position: absolute;
  top: 50%; }

.item {
  position: relative; }

@media only screen and (max-width: 320px) {
  .carousel-caption {
    top: 40%; } }
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .carousel-caption {
    top: 40%; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .carousel-caption {
    top: 40%; } }
.slider-icon img {
  margin: 5px; }

.row-main {
  display: block;
  padding: 20px 0; }
  .row-main .img-discuss-hover a img {
    padding: 10px;
    opacity: 0.5; }
    .row-main .img-discuss-hover a img:hover {
      opacity: 1;
      transition: 1s; }
  .row-main .col-sm-12 {
    padding: 5px 0; }

.discuss-header {
  padding-bottom: 100px; }

.hr-discusss hr {
  background-color: #cdd2d6; }

.map {
  position: relative; }
  .map img {
    max-width: 100%; }
  .map .pin {
    position: absolute;
    top: 50%; }
    .map .pin img {
      float: right; }

.message {
  display: inline-flex;
  float: right;
  margin-top: 20px; }
  .message img {
    margin-right: 10px; }

.input-inf {
  margin-top: 20px; }
  .input-inf p {
    color: gray; }
  .input-inf input {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    border-bottom: solid 2px #cccccc;
    outline: none; }

.address {
  padding-left: 0;
  padding-right: 0;
  color: gray; }

.line hr {
  color: #000000;
  background-color: #040404;
  height: 5px;
  margin: 0;
  padding: 0; }

.all-header-hr-grey hr {
  background-color: #cccccc; }

@media only screen and (max-width: 320px) {
  body {
    font-size: 12px; }

  .row-main {
    display: flex;
    padding-top: 80px; }

  .input-inf {
    padding-left: 0; }

  .features {
    padding-bottom: 50px; }

  .discuss-header {
    padding-bottom: 50px; }

  .created {
    padding-left: 40px; } }
@media only screen and (min-width: 321px) and (max-width: 375px) {
  body {
    font-size: 12px; }

  .row-main {
    display: flex;
    padding-top: 80px; }

  .input-inf {
    padding-left: 0; }

  .features {
    padding-bottom: 50px; }

  .discuss-header {
    padding-bottom: 50px; }

  .created {
    padding-left: 40px; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .row-main {
    display: flex;
    padding-top: 80px; }

  .input-inf {
    padding-left: 0; }

  .features {
    padding-bottom: 50px; }

  .discuss-header {
    padding-bottom: 50px; }

  .created {
    padding-left: 40px; } }
@media only screen and (min-width: 641px) and (max-width: 767px) {
  body {
    font-size: 12px; }

  .row-main {
    display: flex;
    padding-top: 80px; }

  .input-inf {
    padding-left: 0; }

  .features {
    padding-bottom: 50px; }

  .discuss-header {
    padding-bottom: 50px; }

  .created {
    padding-left: 40px; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .features {
    padding-bottom: 50px; }

  .discuss-header {
    padding-bottom: 50px; }

  .created {
    padding-left: 40px; } }
.txt-header {
  text-align: center;
  color: #062033;
  margin-bottom: 30px; }

.work-navbar {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center; }
  .work-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .work-navbar ul a {
      transition: 0.5s;
      color: black;
      padding-top: 5px;
      /* border-bottom-width: 5px; */
      padding-bottom: 5px; }
      .work-navbar ul a:hover {
        color: white;
        background-color: #0eb493;
        border-radius: 5px; }
  .work-navbar li {
    float: left;
    margin-bottom: 20px; }
  .work-navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }

all-header {
  padding-top: 100px; }

.works-content .col-sm-3 {
  padding: 0; }
  .works-content .col-sm-3 img {
    max-width: 100%; }
.works-content .img-bg {
  position: relative;
  overflow: hidden;
  padding: 0; }
  .works-content .img-bg:hover .img-hover {
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.8; }

.img-hover {
  background-color: #0eb493;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  transition: 1s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .img-hover h4, .img-hover p {
    text-align: center;
    color: white;
    transform: translateY(50%); }

.meet-content img {
  max-width: 100%; }
.meet-content .col-sm-3 {
  padding: 0; }

.work-header-hr-img {
  margin-bottom: 25px; }

@media only screen and (max-width: 320px) {
  .work-navbar li a {
    padding: 0 5px; }

  .img-bg-width {
    width: 100%; } }
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .work-navbar li a {
    padding: 3px 10px; }

  .img-bg .img-bg-width {
    width: 100%; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .work-navbar li a {
    padding: 3px 10px; }

  .img-bg .img-bg-width {
    width: 100%; } }
.all-header {
  padding-top: 100px; }

.meet-content img {
  max-width: 100%; }
.meet-content .col-sm-3 {
  padding: 0; }
.meet-content .container h4, .meet-content .container p {
  text-align: center; }
.meet-content .container h4:hover {
  color: #0eb493; }
.meet-content .container p {
  color: #73828d; }
.meet-content .container .col-sm-3 {
  padding: 10px; }
  .meet-content .container .col-sm-3 img {
    max-width: 100%; }
.meet-content .container .img-bg {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%; }
  .meet-content .container .img-bg:hover .img-hover {
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.9; }
    .meet-content .container .img-bg:hover .img-hover h4, .meet-content .container .img-bg:hover .img-hover p {
      color: white; }

.img-hover {
  background-color: #0eb493;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%; }
  .img-hover .slider-icon-center {
    justify-content: center; }

.meet {
  clear: both;
  margin-bottom: 200px; }

@media only screen and (min-width: 321px) and (max-width: 375px) {
  .img-ip6 {
    width: 100%; }

  .meet {
    margin-bottom: 50px; }

  .all-header {
    padding-top: 50px; } }
@media only screen and (min-width: 641px) and (max-width: 767px) {
  .meet {
    margin-bottom: 50px; }

  .all-header {
    padding-top: 50px; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .meet {
    margin-bottom: 50px; }

  .img-ip6 {
    width: 100%; }

  .all-header {
    padding-top: 50px; } }
@media only screen and (max-width: 320px) {
  .meet {
    margin-bottom: 50px; }

  .all-header {
    padding-top: 50px; } }
.funfacts {
  clear: both;
  background-image: url("../img/fun-rectangle.png");
  padding-bottom: 200px; }

.row-content {
  transform: translateY(100%);
  text-align: center;
  padding-top: 20px; }
  .row-content h1, .row-content p {
    color: white; }

.border-circle-img {
  border: 1px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: white; }
  .border-circle-img img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto; }

.border-img {
  position: relative; }

.img-color-fff {
  color: white; }

body {
  font-family: 'Open Sans', sans-serif; }

@media only screen and (max-width: 320px) {
  .row-content {
    padding-top: 10px; }

  .txt-fontsize {
    font-size: 20px; }

  .border-img-mobile {
    margin-top: 100px; }

  .funfacts {
    padding-bottom: 100px; }

  .row-main {
    justify-content: center;
    width: 100%; }

  .border-circle-img {
    width: 70px;
    height: 70px; }

  .img-ip6 {
    width: 100%; }

  #header-txt {
    width: 120px; }

  .txt-fontsize-top {
    margin-top: 0; }

  .row-content-2 {
    margin-top: 20px; } }
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .row-content {
    padding-top: 10px; }

  .row-main {
    justify-content: center;
    width: 100%; }

  .txt-fontsize {
    font-size: 20px; }

  .border-img-mobile {
    margin-top: 100px; }

  .funfacts {
    padding-bottom: 100px; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .row-content {
    padding-top: 10px; }

  .row-main {
    justify-content: center;
    width: 100%; }

  .txt-fontsize {
    font-size: 20px; }

  .border-img-mobile {
    margin-top: 100px; }

  .funfacts {
    padding-bottom: 100px; } }
@media only screen and (min-width: 641px) and (max-width: 767px) {
  .border-img-mobile {
    margin-top: 0; }

  #header-txt {
    width: 120px; } }
.carousel-inner > .item > img {
  width: 100%; }

.main-slider .carousel-indicators {
  margin: 0;
  width: 50px;
  left: inherit;
  right: 0;
  transform: rotate(90deg);
  bottom: inherit;
  top: 50%; }

.pull-right {
  padding-top: 15px; }

.carousel-inner .item {
  background-image: url("../img/slider-img-1.png");
  width: 100%;
  height: 800px;
  background-position: center; }

@media only screen and (max-width: 320px) {
  .main-slider .carousel-indicators {
    top: 60%; }

  .mobile-nav .navbar-collapse {
    background-color: transparent;
    margin: 0px -30px -30px -30px; }
  .mobile-nav .navbar-nav li a {
    color: white; }

  .carousel-inner .item {
    background-position: center;
    height: 400px;
    width: inherit; } }
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .main-slider .carousel-indicators {
    top: 60%; }

  .ip6-nav .navbar-collapse {
    background-color: transparent;
    margin: 0px -30px -30px -30px; }
  .ip6-nav .navbar-nav {
    flex-direction: column;
    width: 100%; }

  .carousel-inner .item {
    z-index: 1;
    height: 100%; }

  .navbar-nav li a {
    color: white; }

  .carousel-inner .item {
    background-position: center;
    height: 400px;
    width: inherit; } }
@media only screen and (min-width: 375px) and (max-width: 414px) {
  .main-slider .carousel-indicators {
    top: 60%; }

  .navbar-collapse {
    background-color: transparent;
    margin: 0px -30px -30px -30px; }

  .navbar-nav {
    flex-direction: column;
    width: 100%; }

  .carousel-inner .item {
    background-position: center;
    height: 400px;
    width: inherit; }

  .navbar-nav li a {
    color: white; }

  .carousel-inner .item {
    background-position: center;
    height: 400px;
    width: inherit; } }
@media only screen and (min-width: 641px) and (max-width: 767px) {
  .pull-right {
    padding-top: 15px; }

  .carousel-caption {
    top: 40%; } }
@media only screen and (min-width: 769px) and (max-width: 967px) {
  .carousel-caption {
    top: 40%; } }
